<% if (USE_REQUIRE_SYNTAX) { -%>
{
  "presets": ["es2015"],
  "plugins": ["transform-runtime"]
}
<% } else { -%>
{
  "presets": ["es2015"],
  "plugins": ["transform-runtime", "transform-es2015-modules-commonjs"]
}
<% } -%>
